
*{
    box-sizing: border-box;
}
body{
    /*gradient from black to orange*/
    background: linear-gradient(to top, #000000, #111111);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    padding: 3em;
}

h1{
    color: white;
    font-family: Raleway;
}
h4,p{
    margin-top: 2em;
    margin-bottom: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

span{
color: orange;
}

.info, .social, .works{
    margin-top: 1em;
    text-align: center;

}
.social h4{
    margin-bottom: 10px;
}

.info_img{
    border-radius: 50%;
    border: solid 2px orange;
    height: 10em;
}

.tagline{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.name{
    margin-bottom: 3px;
    color: orange;
}

a.btn_social{
    margin: 5px;
    background-color: #000000;
    border-radius: 100%;
}
a.btn_social > img:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

.productos{
    display: flex;
    justify-content: center;
}
.productos > div{
    padding: 15px;
    margin: 8px;
    border-radius: 40px;
    background-color: #111111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


@media (min-width: 576px){
    .productos{
        flex-direction: row;
    }
    .productos > div{
       width: 30%
    }

    .work img{
        display: inline-block;
        width: 20%;
        height: auto;
        margin: 5px;
        filter: grayscale(100%);
        opacity:0.5;
        -webkit-filter: grayscale(100%);
        transition: 0.8s ease;
    }
    .work img:hover{
        filter: grayscale(0%);
        filter: gray;
        -webkit-filter: grayscale(0%);
        opacity:1;
        transition: 0.8s ease;
        }
}

@media (max-width: 1024px){
    .productos{
        flex-direction: column;
    }
    .productos > div{
        width: 100%
     }
    .work img{
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 2em;
        opacity:1;
        filter: none;
        margin-top: 8px;
    }
}

a{text-decoration: none;}

