body{
    background-color: #000000;
    padding: 3em;
}

h1,h4,p{
    color: white;
    font-family: Raleway;
}

.info, .social, .works{
    text-align: center;
}
.social h4{
    margin-bottom: 10px;
}

.info_img{
    border-radius: 50%;
    border: solid 2px orange;
    height: 10em;
}

.tagline{
    margin-top: 0;
    font-family: Raleway;
    font-style: italic;
}

.name{
    margin-bottom: 3px;
    color: orange;
}

a.btn_social{
    margin: 5px;
    background-color: #000000;
}

.work img{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
opacity:1;
filter: none;
transition: 1s ease;
}
.work img:hover{
    filter: grayscale(100%);
    opacity:0.5;
    -webkit-filter: grayscale(100%);
    transition: 1s ease;
    box-shadow: orange 0px 0px 20px;
}

@media (min-width: 576px){
    .work img{
        display: inline-block;
        width: 20%;
        height: auto;
        margin: 5px;
    }

}

@media (max-width: 1400px){
    .work img{
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 2em;
    }

}